*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --main-title-color: #ffffff;
  --main-btn-color: #ffffff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --acent-color: #ff6c00;
}

body {
  font-family: "Open Sans", Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.btn {
  min-width: 160px;
  padding: 11px 19px;

  font-family: "Open_Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;

  border: 1px solid var(--acent-color);
  border-radius: 25px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* ---------------HEADER-------------- */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: gray;
}
.header-logo {
  margin-right: 138px;
}
.header-nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* navigation */
.nav-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}

.header-group {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* TELEPHONE */
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: var(--main-title-color);
}
/* BTN */
.header-btn {
  color: var(--main-btn-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--acent-color);
}

/* ------------------HERO---------------- */
.hero {
  background-color: grey;
}
.hero-list {
}
.list {
}
.hero-list-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc (15/11);
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--acent-color);
}

.hero-text {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-text::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #fff;
}

.hero-title {
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da48d;
}

/* ====--------------ABOUT------------------- */

.about-container {
  display: flex;
}
.about-list {
  display: flex;
  margin-right: 30px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-right-side {
  width: 470px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.about-sub-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.about-discription {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555;
}
.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555;
}
.about-btn {
  color: var(--secondary-btn-color);
}

.about-btn:hover,
.about-btn:focus {
  border-color: var(--acent-color);
  background-color: var(--acent-color);
  color: var(--main-btn-color);
}

/* ====------------PRICES---------------- */
.prices {
  max-width: 1300px;
  margin: 0 auto;
  background-image: linear-gradient(to right, grey, rgba(85, 85, 233, 0.466));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.price-block {
  display: flex;
  justify-content: space-between;
}

.price-list {
  flex-basis: 570px;
  outline: 1px solid green;
  margin-bottom: 44px;
  padding: 30px 20px;
}
.price-list:first-child {
  background-image: linear-gradient(to bottom, grey, rgba(238, 221, 221, 0.3));
}
.price-list:last-child {
  background-image: linear-gradient(to bottom, grey, rgba(238, 221, 221, 0.3));
}

.price-item {
  display: flex;
  gap: 12px;
  align-items: baseline;
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item::before {
  content: "";
  display: block;
  flex-grow: 1;
  height: 1px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #fff;
}
.price-item-service {
  order: -1;
}
.price-btn {
  display: block;
  margin: 0 auto;
}

/* ====------------TEAM---------------- */

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
